<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>Starbucks Cards</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
	<section>
		<header>
			<a th:href="@{rewards}" ><img th:src="@{/images/logo.jpg}" class = "logo"/></a>
			<ul>
				<li><a href="#">ORDER</a></li>
				<li><a th:href="@{cards}">CARDS</a></li>
				<li><a th:href="@{rewards}">REWARDS</a></li>
			</ul>
		</header>
		<div class = "content">

			<div class = "greeting">
				<h2 class = "increase">Starbucks Cards<br></h2>
				<ul style="list-style: none">
					<li><a class = "text-sm" style="color:green;font-size:20px;text-decoration:none" th:href="@{add}">Add</a></li>
				</ul>
			</div>
			
			<div class = "card">
				<h2>Your Cards</h2>
				<table class="table">
					<thead>
						<tr>
							<th>CardNumber</th>
							<th>Balance</th>
							<th>CardCode</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="card:${cardlist}">
							<td th:text = "${card.cardNumber}"></td>
							<td th:text = "${card.balance}"></td>
							<td th:text = "${card.cardCode}"></td>
						</tr>

					</tbody>
					

				</table>
			</div>


		</div>

		<div class="logout">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out"/>
			</form>
		</div>

		

	</section>



</body>