<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Starbucks Rewards</title>
	<link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
	<section>
		<header>
			<a href="rewards" ><img th:src="@{images/logo.jpg}" class = "logo"/></a>
			<ul>
				<li><a href="#">ORDER</a></li>
				<li><a th:href="@{cards}">CARDS</a></li>
				<li><a th:href="@{rewards}">REWARD</a></li>
			</ul>
		</header>
	 	<div class = "content">
	 		<div class = "greeting">
	 			<h2 class = "increase">Starbucks Rewards<br></h2>
	 			<p style="font-size:16px">Hello  <span style ="font-size:18px;font-weight:bold;color:green" th:text="${custName}"/></span>, This is your starbucks reward page. 
	 			</p> 		
	 			<img th:src="@{images/detail.jpg}" class = "detail"/>	
	 		</div>
	 		<div class = "line"></div>
	 		<div class = "card">
	 			<h2 class = "increase">REWARD STATUS</h2><br><br>
	 			<table class="table">
	 				<thead>
	 					<tr>
	 						<th>NickName</th>
	 						<th>Rewards</th>
	 					</tr>
	 				</thead>
	 				<tbody>
	 					<tr th:each="card:${cardlist}">
	 						<td th:text = "${card.nickName}"></td>
	 						<td th:text = "${card.rewards}"></td>
	 					</tr>

	 				</tbody>
	 				

	 			</table>
	 		</div>

	 	</div>

	</section>



</body>