@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display= swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d4e9e2;;

}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	align-items: center;
}
header.logo
{
	position: relative;
	max-width: 80px;
}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	list-style: none;
}
header ul li a
{
	display:inline-block;
	color: #333;
	font-weight: 400;
	font-size:20px;
	margin-left: 40px;
	text-decoration: none;
}

p{
	font-weight: 600;
	font-family: SoDoSans;
}
.content{
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: left;
}

.payment{
	position: relative;
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: left;
}
.greeting{
	position: relative;
	margin-top: 50px;	 
}
.reward{
	position:relative;
	margin-right: 500px;
	margin-top: 30px;
	right:20%;
}
.line{
	position: relative;
	border-left: 3px solid green;
	height: 400px;
	position: absolute;
	left: 30%;
	margin-left: -3px;
	margin-top:50px;
}

.detail{
	position: relative;
	width: 400px;
	height: 200px;
 	top:90px;
}



.text-sm{
	position: relative;

}

.card-img{
	padding-top: 50px;
	width: 400px;
	height: 300px;
	position: relative;
}


.more-card{
	padding-top: 50px;
	width: 100px;
	height: 100px;
	position: relative;
}

.card{
	position: relative;
	right: 30%;
}

.increase{
	font-size: 28px;
	font-weight: 700;
}

.table{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	border-collapse: collapse;
	border-top:2px solid #00a862;
	margin:25px 0;
	font-size: 1.2em;
	min-width: 300px;

}

.table thead tr{
	color:#00a862;
	text-align: left;
	font-weight: bold;
}

.table td,th{
	padding:5px 15px;
}

.table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-of-type{
	border-bottom: 2px solid #00a862;
}



.logout input{
	display: flex;
	justify-content: center;
	height: 80px;
	width:150px;
	align-items: center;
	background: #00a862;
	color: white;
	border-radius: 30px;
	border:none;
	transition: 0.2s;
	text-decoration: none;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	right: 20px;
	bottom: 20px;
	position: fixed;
	font-size: 120%;
	font-weight: bold;

}

.logout input:hover{
	cursor: pointer;
	background: #008f53;
}

